
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/your-path-to-uicons/css/uicons-[your-style].css" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style/styles.css">
    <title>ToDo List</title>
</head>
<body class="back">
<header>
    <nav class="navbar navbar-expand">

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><img src="images/calendar.gif" height="25px" width="25px" alt="icon">  Today</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/work"><img src="images/working.png" height="25px" width="25px" alt="">  Work</a>
            </li>
          </ul>
        </div>
      </nav>
</header>


